services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: postgres
      TZ: UTC
    ports:
      - "15432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    restart: unless-stopped
volumes:
  postgres-data:
    driver: local
